//Estilos HEADER
.header {
    background-color: $blanco;
}

.header__help {
    background-color: $blanco;
}

.header__nav--listElement{
    list-style: none;
}


.header__logo {
    background-color: $blanco;
}

.header__search-input {
    border-radius: 14px;
    border: 1px solid #CCCCCC;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.header__search-input:focus {
    border-color: #007BFF;
}

.header__search-input::placeholder {
    color: #888888;
    opacity: 0.7;
}

.general__icon{
  @extend %style-icons-allPage;
}

.icon__openMenu{
    font-size: 25px;
}

.header__user--badge {
    background-color: $blanco;
    color: $morado ;
    font-weight: bold;
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

//Estilos banner index.html

.banner {
    background: linear-gradient(45deg, #FF4081, #9C27B0, #3F51B5);
}

.banner__title {
    font-family: $fuente-principal;
    color: $blanco; 
    font-size: 2.5rem;

    @include phones {
        margin-bottom: 4rem;
        text-align: center;
    }
}

.banner__image-img {
    width: 34rem;
}

.cardInformarion {
    text-align: center;
}

.cardInformarion__title {
    font-family: $fuente-principal;
    font-size: 5rem;
}

.cardInformarion__text {
    font-family: $fuente-principal;
    font-size: 2rem;
}

//Estilos productos index.html

.Products__card--img{
    cursor: pointer;
}

//Estilos footer index.html

.footer {
    color: $blanco;
    background-color: $negro;
}

.footer__container {
    font-family: $fuente-principal;
    font-size: 2rem;
}

.footer__link {
    color: $blanco; 
}

//Estilos carrito de compras

.shoppingCart{
    background-color: $blanco;
    box-shadow: -19px 1px 22px 15px rgba(0, 0, 0, 0.30);
}

.emptyShoppingCart__container--text{
    font-family: $fuente-principal;
}

.shoppingCart__finalPriceContainer{
    border-bottom: 1px solid #ccc;
}

.shoppingCart__finalPriceContainer-text{
    font-family: $fuente-principal;
    font-size: 1.2rem;

    @include phones {
        font-size: 1rem;
    }
}

.shoppingcart__closeIcon{
    cursor: pointer;
}

.shoppingCart__title{
    text-align: center;
    font-family: $fuente-principal;
}

.shoppingCart__listTitles{
    list-style: none;
    font-family: $fuente-principal;
}

.shoppingCart__containerProduct{
    border-bottom: 1px solid #ccc; 
}

.normal-btn{
    font-size: 1.15rem;
    border-radius: 50%;
    background-color: $negro;
    color: $blanco;
    cursor: pointer;
}

//Estilos Menu Izquierdo
.leftMenu{
    background-color: $blanco;
    box-shadow: -19px 1px 22px 15px rgba(0, 0, 0, 0.30);

    @include phones {
        box-shadow: none !important;
        opacity: 0;
        transition: transform 0.25s ease-in-out, opacity 0.10s ease-in-out 0.40s;


        &.show{
            opacity: 1;
        }
    }

    @include tablets{
        box-shadow: none !important;
        opacity: 0;

        &.show{
            opacity: 1;
            transition: transform 0.25s ease-in-out, opacity 0.10s ease-in-out 0.40s;
        }
    }
}

.leftMenu__listcontainer--tag,
.leftMenu__unorderedListcontainer{
    list-style: none;
}

.leftMenu__listcontainer--element{
    font-family: $fuente-principal;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.divider{
    background-color: $negro;
}

.leftMenu__sloganContainer{
    background-color: $negro;
    color: $blanco;
}

.leftMenu__containerSlogan--slogan{
    font-family: $fuente-principal;
}

//Estilos login.html
.Maincontainer {
    background: $blanco;
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15), 
                0 6px 12px rgba(0, 0, 0, 0.25);
}

.container__img {
    border-radius: 10px;
}

.form__title {
    font-family: $fuente-principal;
    text-align: center;
    letter-spacing: 0.2rem;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid $negro;
}

.form__input:placeholder-shown {
    font-family: $fuente-principal;
}

.form__label {
    font-family: $fuente-principal;
}

