// Variables de colores y tipografía
$color-blanco: #FFFFFF; // Blanco
$color-negro: #000000; // Negro
$fuente-principal: "Bodoni Moda", serif; // Fuente principal

// Variables de propiedades comunes
$display-flex: flex; // Variable para 'display: flex'
$tamañomaximo: 100%; // Tamaño 100% 

// Mixins
@mixin flex-center {
    display: flex; 
    align-items: center;
}


//Clases placeholders


%link-styles {
    text-decoration: none;
    color: $color-negro;
    font-family: $fuente-principal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: $color-blanco;
    width: $tamañomaximo;
}

.header__help {
    display: $display-flex;
    justify-content: center;
    width: $tamañomaximo;
    background-color: $color-blanco;
    padding: 1rem 0;
    margin-bottom: 0.5rem;
}

.header__nav--list {
    display: $display-flex;
    gap: 1.1rem;
    list-style: none;
}

.header__logo {
    @include flex-center; 
    justify-content: space-between;
    padding: 0.8rem;
}

.header__menu {
    display: $display-flex;
    gap: 1rem;
    transform: translateX(55%);
}

.header__menu--link,
.header__nav--link {
    @extend %link-styles;
}

.header__user {
    @include flex-center; 
    gap: 1rem;
}

.header__logo--img {
    width: 100px;
}

.header__search--img {
    display: none;
}

.header__search-input {
    width: 16rem;
    margin-right: 1.5rem;
    border-radius: 14px;
    border: 1px solid #CCCCCC;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.header__search-input:focus {
    border-color: #007BFF;
}

.header__search-input::placeholder {
    color: #888888;
    opacity: 0.7;
}

.banner {
    width: $tamañomaximo;
    @include flex-center;
    justify-content: space-around;
    background: linear-gradient(45deg, #FF4081, #9C27B0, #3F51B5);
    padding: 2rem;
    margin-bottom: 8rem;
}

.banner__title {
    font-family: $fuente-principal;
    color: $color-blanco; 
    font-size: 2.5rem;
}

.banner__image-img {
    width: 34rem;
    transform: rotate(15deg) translateY(-6%) translateX(4%);
}

.cartInformarion {
    text-align: center;
    width: $tamañomaximo;
}

.cartInformarion__title {
    font-family: $fuente-principal;
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.cartInformarion__text {
    font-family: $fuente-principal;
    font-size: 2rem;
    margin-bottom: 10rem;
}

.Products {
    width: 92%;
    max-width: 1900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    margin: 0 auto;
    gap: 1.3rem;
}

.Products__cart {
    width: $tamañomaximo;
    padding: 0 12px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.Products__cart--img {
    width: $tamañomaximo;
    height: 280px;
    margin-bottom: 0.3em;
}

.Products__cart--title,
.Products__cart--text {
    margin-bottom: 0.3rem;
}

.footer {
    height: $tamañomaximo;
    width: $tamañomaximo;
    color: $color-blanco;
    background-color: $color-negro;
    padding-top: 3rem;
}

.footer__container {
    display: $display-flex;
    justify-content: space-evenly;
    font-family: $fuente-principal;
    font-size: 2rem;
    margin-bottom: 7rem;
}

.footer__logo--img {
    width: 100px;
}

.footer__copyright {
    display: $display-flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: auto;
}

.footer__link {
    @extend %link-styles;
    color: $color-blanco; 
}

/* CELULARES */
@media screen and (max-width: 48em) {
    .header__menu {
        display: none;
    }

    .header__user--img1 {
        display: none;
    }

    .header__search-input {
        display: none;
    }

    .header__search--img {
        display: inline;
    }

    .banner {
        display: $display-flex;
        flex-direction: column;
    }

    .banner__title {
        margin-bottom: 4rem;
        text-align: center;
    }

    .banner__image-img {
        width: 18rem;
        transform: rotate(15deg) translateY(-6%) translateX(1%);
    }

    .cartInformarion__text {
        padding: 1rem;
    }

    .Products {
        padding: 0 10px;
        margin: 0;
        width: $tamañomaximo;
        gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .Products__cart--img {
        height: 200px;
    }

    .footer__container {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .footer__copyright {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-bottom: 2rem;
    }
}

/* Tablets */
@media screen and (min-width: 48rem) and (max-width: 65em) {
    .header__menu {
        display: none;
    }

    .banner {
        flex-direction: column;
    }

    .banner__image-img {
        width: 27.5rem;
    }

    .Products {
        width: 90%;
        margin: 0 50px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
    }
}

/* Escritorio */
@media screen and (min-width: 93.75rem) {
    .header__nav--list {
        gap: 2rem;
    }

    .header__logo--img {
        width: 150px;
    }

    .header__search-input {
        width: 21rem;
    }

    .Products {
        width: 85%;
        font-size: 1.2rem;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 2.3rem;
    }

    .footer {
        padding: 2rem;
    }

    .footer__logo--img {
        width: 150px;
    }
}
